<div class="container-fluid">
  <div class="row mainCont">
    <div class="col-lg-12">
      
      <div class="row">
        <div class="col-lg-4 text-center">
          <h3 style="padding-top:5vh;">Important Links :</h3>
          <button style="color:#e3e6f2;" mat-button color="warn">Home</button>
          <br>
          <button style="color:#e3e6f2;" mat-button color="warn">Students</button>
          <br>
          <button style="color:#e3e6f2;" mat-button color="warn">Teachers</button>
          <br>
          <button style="color:#e3e6f2;" mat-button color="warn">Colleges</button>
          <br>
          <button style="color:#e3e6f2;" mat-button color="warn">Signup</button>
        </div>

        <div class="col-lg-4">
          <h3 class="text-center" style="padding-top:5vh;">What is Lorem Ipsum?</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.
          </p>
        </div>

        <div class="col-lg-4">
            <h3 style="padding-top:5vh;">Support & Feedback</h3>
            <br>
            <p>For any queries regarding anything<br> you can email us at <a href="">abcd@example.com</a></p>
            <p>Any constructive feedback and/or suggestion will also be appreciated.</p>
            <p><i class="material-icons text-right" style="font-size: 18px; ">assessment</i> IntAcademia</p>
        </div>
      </div>
    </div>

  </div>

</div>