.page{
    background-color: white;
}
.login{
    padding-top: 5vh;
    margin-bottom: 20vh;
    min-height: 60vh;
    margin-top: 24vh;
    background-color: #3AAFA9;
    color: black;
}

.imgSize{
    width: 20vh;
    border-radius: 50%;
}

.subButton{
    padding: 6vh;
}

.former{
    padding-top: 5vh;
}