<div class="container-fluid navPad1">
    <div class="row titleA">
        <div class="col-lg-4 text-right">
            <i class="material-icons text-right" style="font-size: 180px; ">assessment</i>
        </div>
        <div class="col-lg-8">
            <h1>Int Academia !</h1>
            <h2>An Intelligent Way to track and improve your academics</h2>
        </div>
    </div>

    <div class="row titleB" routerLink="/students">
        <div class="col-lg-8 text-right">
            <h1>Students</h1>
            <h2>Find Students from different colleges and streams</h2>
        </div>
        <div class="col-lg-4  text-left">
            <i class="material-icons" style="font-size: 180px; ">perm_identity</i>
        </div>
    </div>

    <div class="row titleD" routerLink="/colleges">
        <div class="col-lg-4 text-right">
            <i class="material-icons" style="font-size: 180px; ">domain</i>
        </div>
        <div class="col-lg-8 text-left">
            <h1>Colleges</h1>
            <h2>Explore different colleges and their details</h2>
        </div>
    </div>

    <div class="row titleC" routerLink="/employees">
        <div class="col-lg-8 text-right">
            <h1>Teachers</h1>
            <h2>Find Teachers from different colleges and departments</h2>
        </div>
        <div class="col-lg-4 text-left">
            <i class="material-icons" style="font-size: 180px; ">supervisor_account</i>
        </div>
    </div>

    <div class="row titleE">
        <div class="col-lg-6" routerLink="/qpapers">
            <div class="row  mobiPadd">
                <div class="col-lg-4 text-right">
                    <i class="material-icons" style="font-size: 180px; ">receipt</i>
                </div>

                <div class="col-lg-8 text-left">
                    <h1>Question Papers</h1>
                    <h2>Find Question Papers from different colleges.</h2>
                </div>
            </div>
        </div>

        <div class="col-lg-6" routerLink="/notes">
            <div class="row mobiPadd">
                <div class="col-lg-4 text-right">
                    <i class="material-icons" style="font-size: 180px; ">assignment</i>
                </div>

                <div class="col-lg-8 text-left">
                    <h1>Notes</h1>
                    <h2>Find Notes from different colleges.</h2>
                </div>
            </div>

        </div>
    </div>

    <div class="row titleF">
        <div class="col-lg-2">
        </div>

        <div class="col-lg-8 text-center">
            <i class="material-icons" style="font-size: 180px; ">assignment</i>
            <h1>SignUp</h1>
            <h2>Signup today. It's free !</h2>
        </div>

        <div class="col-lg-2t">
        </div>
    </div>

</div>