.navPad1{
    padding-top: 8vh;
}

.titleA{
    background-color: rgba(58, 175, 169, 0.952);
    min-height: 55vh;
    padding-top: 14vh;
    padding-bottom: 16vh;
}
/* #66FCF1 */
.titleB{
    background-color: rgba(23, 37, 42, 0.932);
    min-height: 52vh;
    padding-top: 16vh;
    color: #DEF2F1;
    padding-bottom: 16vh;
}

.titleC{
    background-color: rgba(43, 122, 119, 0.925);
    min-height: 52vh;
    padding-top: 16vh;
    color: #DEF2F1;
    padding-bottom: 16vh;
}

.titleD{
    background-color: rgba(222, 242, 241, 0.932);
    min-height: 52vh;
    padding-top: 16vh;
    padding-bottom: 16vh;
}

.titleE{
    background-color: rgba(58, 175, 169, 0.945);
    min-height: 52vh;
    padding-top: 16vh;
    padding-bottom: 16vh;
}

.titleF{
    background-color: rgba(58, 175, 169, 0.945);
    min-height: 52vh;
    padding-top: 2vh;
    padding-bottom: 16vh;
}

/*Large displays*/
@media (min-width : 740px) {

}

  /*Small displays*/
@media (max-width : 740px) {

    .mobiPadd{
        padding-top:10vh;
        padding-bottom:10vh;
    }

}

.navPad1{
    background-image: url('https://t1.pixers.pics/img-ca9944d9/image?H4sIAAAAAAAAAzWNawrCMBCEr9OCdHezCXkcIH97hLLWRitaQxPB45siMjDfMDAMvLciaYG0Puqyl5ClNm4dDoodnf5oijH2Ib32p9Tunq893GrNJQAUHvL6aeOGucAvg0WEOAIZ8Hy4JuCjnOJIxjMZTTyRQVnQopyV0MXNXjtKiUn5Fq3g0I6-kTOWW6IAAAA=');
    background-repeat: repeat;
}