.navPad1{
    padding-top: 8vh;
}

.titleA{
    background-color: #3AAFA9;
    min-height: 55vh;
    padding-top: 14vh;
    padding-bottom: 16vh;
}
/* #66FCF1 */
.titleB{
    background-color: #17252A;
    min-height: 52vh;
    padding-top: 16vh;
    color: #DEF2F1;
    padding-bottom: 16vh;
}

.titleC{
    background-color: #2B7A78;
    min-height: 52vh;
    padding-top: 16vh;
    color: #DEF2F1;
    padding-bottom: 16vh;
}

.titleD{
    background-color: #DEF2F1;
    min-height: 52vh;
    padding-top: 16vh;
    padding-bottom: 16vh;
}

.titleE{
    background-color: #3AAFA9;
    min-height: 52vh;
    padding-top: 16vh;
    padding-bottom: 16vh;
}

.titleF{
    background-color: #3AAFA9;
    min-height: 52vh;
    padding-top: 2vh;
    padding-bottom: 16vh;
}