<div class="container-fluid page">

    <div class="row middler">
      <div class="col-lg-12 aCollegeP">
        <img src="{{college.c_imgUrl }}" alt="" class="bgImg">
        <h1  style="" class="topic text-center centered contDet2" >{{ college.c_name }}</h1>
      </div>
    </div>

    <div class="row middler">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 cont middler">
            <i><h3 class="contDet1">College Details :</h3></i>
            <h1 class="contDet" >Acronym : {{ college.c_IDNo }}</h1>
            <h1 class="contDet" >Email : {{ college.c_email }} </h1>
            <h1 class="contDet" >Phone No. : {{ college.c_phoneNo }} </h1>

            <br><br>

            <i><h2 class="topic1 contDet" >Streams available at {{ college.c_name }} :</h2></i>
            <div *ngFor="let dept of college.c_depts">
              <h1 class="contDet1">{{ dept.deptName }}</h1>
            </div>

            <br><br>
            <i><h3 class="contDet"> Some notable clubs of the College :</h3></i>

            <div *ngFor="let club of college.c_clubs">
              <h1 class="contDet1" >{{ club }}</h1>
            </div>

        </div>
        <div class="col-lg-2">
        </div>
    </div>



    <div class="row middler">

        <div class="col-lg-1">
        </div>

        <div class="col-lg-4 boxer middler">
            <i><h3 class="topic1 contDet1" >The College Students are :</h3></i>
            <br><br>
            <div *ngFor="let student of students" [routerLink]="['/students', student.rollNo]">
                <h2 class="contDet" >{{ student.name }}</h2>
                <h2 class="contDet1" >{{ student.rollNo }}</h2>
                <h2 class="contDet1" >{{ student.year }}, {{ student.dept }}</h2>
                <br>
              </div>
        </div>
        <div class="col-lg-2">
        </div>

        <div class="col-lg-4 boxer middler">
            <i><h3 class="topic1 contDet1" >The College Employees are :</h3></i>
            <br><br>
              <div *ngFor="let employee of employees" [routerLink]="['/employees', employee.emp_IDNo]">
                <h2 class="contDet" >{{ employee.emp_name }}</h2>
                <h2 class="contDet1" >{{ employee.emp_IDNo }}</h2>
                <h2 class="contDet1" >{{ employee.emp_design }}, {{ employee.emp_dept }}</h2>
                <br>
              </div>
        </div>

        <div class="col-lg-1">
        </div>

    </div>
</div>