<div class="container-fluid navPad page">

    <div class="row">

        <div class="col-lg-12">

            <div class="row">

                <div class="col-lg-3">

                </div>

                <div class="col-lg-6 map">
                    <h1 class="text-center">Login</h1>
                    <br><br><br><br>

                    <form class="former text-center" novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">

                        <p>

                            <mat-form-field class="half-width">
                                <input matInput formControlName="email" placeholder="Email ID" type="text">
                            </mat-form-field>

                            <br>

                            <mat-form-field class="half-width">
                                <input matInput formControlName="password" placeholder="Password" type="text">
                            </mat-form-field>

                            <br>

                        </p>

                        <p class="subButton">
                            <button type="submit" mat-stroked-button class="background-primary text-floral-white">Submit</button>
                        </p>

                    </form>

                </div>

                <div class="col-lg-3">

                </div>
            </div>

        </div>

    </div>

</div>