.anEmployee{
    padding: 55px;
}

.aStudent{
    padding: 55px;
    background-color: #DEF2F1;
    margin-top: 5vh;
    border-radius: 15px;
}

.studentHead{
    padding-top: 11vh;
    background-color: #3AAFA9;
    color: #2B7A78;
    min-height: 40vh;
}

.allStudent{
    padding-bottom: 10vh;
}

.imgSize{
    width: 40%;
    border-radius: 50%;
    border: solid black 2px;
}

.former{
    padding-top: 5vh;
}