<div class="container-fluid page">
    <div class="row">

      <div class="col-lg-2">
      </div>
      <div class="col-lg-8 login">

          <div class="row">
              <div class="col-lg-12 text-center logo1">
                  <h1 style="font-size: 5vh;"><i class="material-icons text-right" style="font-size: 5vh;">assessment</i>Int Academia !</h1>
              </div>
          </div>

        <div class="row">
            <div class="col-lg-12 text-center logo1">
                <h1>Signup</h1>
            </div>
        </div>

        <div class="row">

          <div class="col-lg-6 text-center boxx" routerLink="/signup/employee">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUjTprFe6FrLUHS6utrw2qtEhUX-HSGZBKAzhqRTxpqqnQvzzS" alt="" class="imger">
            <h1>As A Teacher</h1>

          </div>
          <div class="col-lg-6 text-center boxx" routerLink="/signup/student">

            <img src="https://image.flaticon.com/icons/png/512/146/146031.png" alt="" class="imger">
            <h1>As A Student</h1>

          </div>

        </div>

      </div>
      <div class="col-lg-2">

      </div>

    </div>
</div>