.page{
    background-color: white;
}
.login{
    padding-top: 5vh;
    margin-bottom: 20vh;
    min-height: 60vh;
    margin-top: 24vh;
    background-color: #3AAFA9;
    color: black;
}

.logoG{
    width: 40vh;
}

.logo1{
}

.imger{
    width: 25vh;
    border-radius: 50%;
}

.boxx{
    padding: 10vh;
}