<div class="container-fluid navPad">

  <div class="row">
    <div class="col-lg-12 page">

      <div class="row theCol">
        <div class="col-lg-6">
            <h1>Welcome To The DashBoard</h1>
            <h2>You are logged in !</h2>
            <br><br>
            <button (click)="logOut()" mat-stroked-button class="background-primary text-floral-white">LogOut</button>
        </div>

        <div class="col-lg-6">
            <img src="./assets/welcome.gif" class="imgSizer" alt="">
        </div>
      </div>

    </div>
  </div>

</div>