.navPad{
    background-image: url('https://t1.pixers.pics/img-ca9944d9/image?H4sIAAAAAAAAAzWNawrCMBCEr9OCdHezCXkcIH97hLLWRitaQxPB45siMjDfMDAMvLciaYG0Puqyl5ClNm4dDoodnf5oijH2Ib32p9Tunq893GrNJQAUHvL6aeOGucAvg0WEOAIZ8Hy4JuCjnOJIxjMZTTyRQVnQopyV0MXNXjtKiUn5Fq3g0I6-kTOWW6IAAAA=');
}

.aStudent{
    padding: 55px;
    background-color: #DEF2F1;
    margin-top: 5vh;
}

.studentHead{
    padding-top: 11vh;
    background-color: #3AAFA9;
    color: #2B7A78;
    min-height: 25vh;
    padding-bottom: 10vh;
}


.allStudent{
    padding-bottom: 10vh;
    background-color: rgba(13, 21, 24, 0.932);
}

.imgSize{
    width: 40%;
    border-radius: 50%;
    border: solid black 2px;
}

/*Large displays*/
@media (min-width : 740px) {

    .padder{
        width: 25%;
        margin-right: 100px;
    }

    .contDet{
        font-size:3.5vh;
    }

    .contDet1{
        font-size:2.8vh;
    }

    .aStudent{
        border-radius: 15px;
    }

}

  /*Small displays*/
@media (max-width : 740px) {

    .padder{
        width: 100%;
    }

    .contDet{
        font-size:4.5vh;
    }

    .contDet1{
        font-size:3.8vh;
    }

}

.but{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
    color: black;
    font-size: 2vh;
    font-family: 'Quicksand', sans-serif;
}