<div class="container-fluid navPad page">

    <div class="row" style="width:100%;">

      <div class="col-lg-12">
        <div class="row headerDet">
          <div class="col-lg-6 text-right">
            <img src="{{ student.imgUrl }}" alt="{{ student.name }} Avatar" class="imgSizer">
          </div>
          <div class="col-lg-6">
            <h1>{{ student.name }}</h1>
            <h2>{{ student.rollNo }}</h2>
            <h2>{{ student.collegeName }}</h2>
            <h2>{{ student.year }}, {{ student.dept }}</h2>
          </div>
        </div>
      </div>

    </div>

    <div class="row" style="width:100%;">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 cont">
            <h2 class="contDet">Contact Details :</h2>
            <h3 class="contDet">Email : {{ student.email }} </h3>
            <h3 class="contDet">Phone No. : {{ student.phoneNo }} </h3>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="row" style="width:100%;">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 graphBoxer">
            <h2 class="contDet">This box has been left blank intentionally to present the student's graphs.</h2>
        </div>
        <div class="col-lg-2">
        </div>
      </div>

    <div class="row" style="width:100%;">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-5 boxer">
          <i><h2 class="contDet" *ngIf="student.hobbies" >{{ student.name }}'s hobbies are :</h2></i>
          <br>
          <div *ngFor="let hobby of student.hobbies">
            <h3 class="contDet">{{ hobby }}</h3>
          </div>
      </div>

      <div class="col-lg-5 boxer">
          <i><h2 class="contDet">{{ student.name }}'s skills are :</h2></i>
          <br>
          <div *ngFor="let skill of student.skills">
            <h3 class="contDet">{{ skill }}</h3>
          </div>
      </div>
      <div class="col-lg-1">
      </div>
    </div>

  </div>