.page{
    background-color: #DEF2F1;
}

.headerDet{
    padding-top: 10vh;
    min-height: 20vh;
}

.imgSizer{
    border: solid black 2px;
    border-radius: 50%;
    width: 20vh;
}

.cont{
    margin: 8vh;
    padding: 55px;
    margin-left: 2.1vh;
    background-color: #17252A;
    color: #DEF2F1;
    border-radius: 16px;
}

.boxer{
    margin: 22px;
    padding: 55px;
    background-color: #66FCF1;
    color: #17252A;
    border-radius: 16px;
    margin-bottom: 11vh;
    margin-left: -13px;
}

.graphBoxer{
    min-height: 28vh;
    margin: 22px;
    padding: 55px;
    padding-top: 85px;
    background-color: #FFFFFF;
    color: #17252A;
    margin-bottom: 11vh;
    border: solid 4px black;
}

.contDet{
    font-size:4.5vh;
}