.page{
    background-color: #DEF2F1;
    width: 100%;
}

.headerDet{
    padding-top: 10vh;
    min-height: 20vh;
}

.imgSizer{
    border: solid black 2px;
    border-radius: 50%;
    width: 20vh;
}

.cont{
    padding: 55px;
    background-color: #17252A;
    color: #DEF2F1;
    border-radius: 16px;
}

.boxer{
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #2B7A78;
    color: #DEF2F1;
    margin-bottom: 11vh;
}

.graphBoxer{
    min-height: 50vh;
    min-width: 80%;
    background-color: #DEF2F1;
    color: #17252A;
    margin-bottom: 11vh;
    margin-top: 11vh;
}

/*Large displays*/
@media (min-width : 740px) {

    .boxer{
        border-radius: 16px;
    }
    .contDet{
        font-size:3.5vh;
    }

    .contDet1{
        font-size:2.8vh;
    }

    .box1 {
        padding: 100px;
        width:8vh;
    }

    .box2 {
        padding: 100px;
        width:100%;
    }
}

  /*Small displays*/
@media (max-width : 740px) {

    .contDet{
        font-size:4vh;
    }

    .contDet1{
        font-size:3.5vh;
    }
}

.middler{
    width:100%;
    margin-right: -0px;
    margin-left: -0px;
}