<div class="container-fluid navPad page">

    <div class="row middler" style="margin-bottom: 10vh;">

      <div class="col-lg-12 middler">
        <div class="row middler headerDet">
          <div class="col-lg-6 text-right">
            <img src="{{ student.imgUrl }}" alt="{{ student.name }} Avatar" class="imgSizer thumbnail">
          </div>
          <div class="col-lg-6">
            <h1 class="contDet">{{ student.name }}</h1>
            <h2 class="contDet1">{{ student.rollNo }}</h2>
            <h2 class="contDet1">{{ student.collegeName }}</h2>
            <h2 class="contDet1">{{ student.year }}, {{ student.dept }}</h2>
          </div>
        </div>
      </div>

    </div>

    <div class="row middler">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-4 cont">
            <h2 class="contDet">Contact Details </h2>
            <h3 class="contDet1">Email : {{ student.email }} </h3>
            <h3 class="contDet1">Phone No. : {{ student.phoneNo }} </h3>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3 cont">
          <h2 class="contDet">Attendance Details</h2>
          <h4 class="contDet1">Attended : {{ student.attended }}</h4>
          <h4 class="contDet1">Total Days : {{ student.totAttd }}</h4>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="row middler">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 middler graphBoxer text-center">

          <div class="row middler">
            <div class="col-lg-12">
              <td ><canvas id="lineChart" style="width:100%; height: 50vh;"></canvas></td>
            </div>
          </div>

        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="row middler">

      <div class="col-lg-1">

      </div>
      <div class="col-lg-4 boxer box1 middler">
          <i><h2 class="contDet" *ngIf="student.hobbies" >{{ student.name }}'s hobbies :</h2></i>
          <br>
          <div *ngFor="let hobby of student.hobbies">
            <h3 class="contDet1"><button mat-raised-button color="primary">{{ hobby }}</button></h3>
          </div>
      </div>

      <div class="col-lg-2">

      </div>

      <div class="col-lg-4 boxer box2">
          <i><h2 class="contDet">{{ student.name }}'s skills:</h2></i>
          <br>
          <div *ngFor="let skill of student.skills">
            <h2 class="contDet1"><button mat-raised-button color="primary">{{ skill }}</button></h2>
          </div>
      </div>

      <div class="col-lg-1">

      </div>

    </div>

    <div class="row middler">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6 cont1">
          <i><h2 class="contDet">Reccomended Clubs :</h2></i>
          <br>
          <div *ngFor="let club of student.recoClubs">
              <h3 class="contDet1"><button mat-raised-button color="primary">{{ club }}</button></h3>
          </div>
        </div>
        <div class="col-lg-3">
        </div>
    </div>


  </div>